<div class="add-course-container">
  <h1>Add Course</h1>
  <form class="add-course-form" (ngSubmit)="onSubmit()">
    <label for="course_id">Course ID:</label>
    <input type="text" id="course_id" [(ngModel)]="course_id" name="course_id" required>

    <label for="title">Course Title:</label>
    <input type="text" id="title" [(ngModel)]="title" name="title" required>

    <label for="dept_name">Department Name:</label>
    <input type="text" id="dept_name" [(ngModel)]="dept_name" name="dept_name" required>

    <label for="credits">Credits:</label>
    <input type="number" id="credits" [(ngModel)]="credits" name="credits" required>

    <button type="submit">Add Course</button>
  </form>
</div>
