<div class="add-instructor-container">
  <h1>Add Instructor</h1>
  <form class="add-instructor-form" (ngSubmit)="onSubmit()">
    <label for="ID">Instructor ID:</label>
    <input type="text" id="ID" name="ID" [(ngModel)]="ID" required>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" required>

    <label for="dept_name">Department Name:</label>
    <input type="text" id="dept_name" name="dept_name" [(ngModel)]="dept_name" required>

    <label for="salary">Salary:</label>
    <input type="number" id="salary" name="salary" [(ngModel)]="salary" required>

    <button type="submit">Add Instructor</button>
  </form>
</div>